<div class="contextual">
  <%= link_to(l(:label_overall_activity), :controller => 'activities',
                                          :action => 'index',
                                          :id => nil,
                                          :user_id => @user,
                                          :from => @events_by_day.keys.first) %>
</div>

<script type="text/javascript">
  //<![CDATA[
  var rightColumn = $('#content').find('.splitcontentright');
  var activityTab = $('#tab-content-activity');
  rightColumn.find('h3').hide();
  activityTab.append(rightColumn.find('p'));
  activityTab.append(rightColumn.find('#activity'));
  activityTab.append(rightColumn.find('p.other-formats'));
  //]]>
</script>
